body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 16px;
}

@media (max-width: 500px) {
    body {
        font-size: 16px;
    }
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

header nav {
    padding: 20px;
    color: white;
    font-size: .875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@media (max-width: 500px) {
    header {
        height: 300px;
        line-height: 1.2;
    }
}

#logo {
    font-size: 2.5em;
}

#links {
    font-size: 18px;
}

#links a {
    margin: 15px;
}

a {
    cursor: pointer;
    }

a.button {
    background-color: #a8a6a1;
    padding: 10px 15px;
    border: 2px solid #a8a6a1;
    border-radius: 10px;
}

a.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

header h1 {
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
}

header h1 em {
    font-size: 1.25em;
    font-style: normal;
    letter-spacing: 1px;
}

header h1 strong {
    font-style: normal;
    font-size: 4.25em;
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    header h1 strong {
        font-size: 2em;
        letter-spacing: 4px;
    }
}

header h1 a {
    font-size: 0.9em;
}

section {
    margin: 75px 100px;
    text-align: center;
}
        
@media (max-width: 500px) {
    section {
        margin: 40px 10px;
    }
}

#main p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 125px;
    width: 70%;
}

#main h1 {
    font-size: 1.75em;   
}

p {
    line-height: 2.25em;
}

footer {
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, .8);
    padding: 35px;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, .4);
}

address {
    font-style: normal;
}

#details div {
    flex-grow: 1;
    padding: 20px;

}
#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 500px) {
    #details {
        flex-direction: column;
    }
}

#details img {
    width: 100%;
}

#details h1 {
    font-size: 38px;
}

#details div a.button {
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#details div a.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}


#menu {
    display: none;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 500px) {
#links {
    display: none;
}

#menu {
    display: block;
}

}

/* Pantallas aancho máximo de 1200px */
@media (max-width: 1200px) {
    header {
        height: 400px;
    }
}

/* Para pantallas ancho máximo de 600px */
@media (max-width: 700px) {
header {
height: 200px;
}

header h1 {
font-size: 1em;
line-height: 1.3;
}

header h1 strong {
font-size: 2.5em;
}

body {
font-size: 1em;
}

h1.details {
font-size: 0.5em;
}

a.button {
padding: 5px 5px;
}

#logo {
font-size: 1em;
}

#links {
font-size: 14px;
}

#main p {
    width: 80%;
}

footer {
    padding: 20px;
    }
}
    